$maincolor:  'black';

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: $maincolor;
}

.checkboxfloat {
    flex-direction: row;
    width: 60px; 
    height: 60px;
    text-align: center;
    border: #000 1px solid;
}